지금까지는 파이썬의 기초 문법을 가지고 데이터를 다루고 분석하는 방법을 써왔다.
하지만, 라이브러리를 사용하면 더욱 빠르고 편리하고 다양하게 데이터 분석을 할 수 있다.

파이썬 데이터 분석에 활용되는 라이브러리의 대표적인 것에 pandas 라이브러리가 있다.

pandas에서 데이터를 다루는 기초적인 방법에 대하여 알아보자.

pandas에서 테이블 형태로 표현하는 것을 DataFrame라고 한다.

In [1]:
import pandas as pd
# DataFrame() 함수로 pandas DataFrame 생성

df = pd.DataFrame({'name' : ['둘리', '도우너', '또치', '고길동'],'english' : [90, 80, 60, 70],  'math' :  [50, 60, 100, 20]})

print(df)
#프린트하여 자동 생성되는 왼쪽 숫자는 index다

  name  english  math
0   둘리       90    50
1  도우너       80    60
2   또치       60   100
3  고길동       70    20

In [2]:
# 특정 변수의 값을 추출해보자

print(df['name'])
print(df['english'])
print(df['math'])

0     둘리
1    도우너
2     또치
3    고길동
Name: name, dtype: object
0    90
1    80
2    60
3    70
Name: english, dtype: int64
0     50
1     60
2    100
3     20
Name: math, dtype: int64

In [3]:
# sum 함수를 이용하여 과목별 평균 구하기
print(sum(df['english']) / 4)
print(sum(df['math']) / 4)

75.0
57.5

문제) 엑셀의 표의 데이터를 데이터 프레임으로 만들고, dfFruit 변수에 저장하세요.
만들어진 데이터 프레임을 이용해 과일의 가격 평균과 판매량 평균을 구하세요.

In [8]:
import pandas as pd
# DataFrame() 함수로 pandas DataFrame 생성
import numpy

dfFruit = pd.DataFrame({
    '제품' : ['사과', '딸기', '수박'],
    '가격' : [1800, 1500, 1300],  
    '판매량' :  [24, 38, 13]
})

print(sum(dfFruit['가격']) / 3)
print(sum(dfFruit['판매량']) / 3)

average = numpy.mean(dfFruit['가격'])   
print(f"average : {average}")

1533.3333333333333
25.0
average : 1533.3333333333333

\data\excel_exam.xlsx 파일을 읽어와 데이터 프레임으로 만들고 여러가지 데이터 분석을 해봅시다.

In [10]:
df_exam = pd.read_excel('D:\lecture\Python\data\excel_exam.xlsx') #파이썬과 같은경로라면 생략가능
# 엑셀 파일을 읽어서 DataFrame 객체로 만들어 줌

print(df_exam)

<>:1: SyntaxWarning: invalid escape sequence '\l'
<>:1: SyntaxWarning: invalid escape sequence '\l'
C:\Users\802-01\AppData\Local\Temp\ipykernel_6800\215582943.py:1: SyntaxWarning: invalid escape sequence '\l'
  df_exam = pd.read_excel('D:\lecture\Python\data\excel_exam.xlsx') #파이썬과 같은경로라면 생략가능

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [15]:
# 읽어온 데이터에 대한 과목별 평균을 다시 구해보자
print(sum(df_exam['math']) / len(df_exam['math']))
print(sum(df_exam['english']) / len(df_exam)) # 결측치가 없으니 이렇게도 가능
print(sum(df_exam['science']) / len(df_exam))

57.45
84.9
59.45

엑셀 데이터를 읽어 DataFrame 을 만들때 헤더 정보가 없다면~
read_excel(파일명, header=None)

엑셀 데이터를 읽어 dataFrame을 만들 때, 엑셀 파일에 여러개의 시트가 있을때...
read_excel(파일명, sheet_name='sheetName')
read_excel(파일명, sheet_name=0부터시작하는index)

In [ ]:
df_exam_novar = pd.read_excel('D:\lecture\Python\data\excel_exam_novar.xlsx', header=None) # header=None 이러면 헤더 부분에도 임의 index가 들어간다.
print(df_exam_novar)

In [27]:
print(pd.read_excel('D:\\lecture\\Python\\data\\trafficData.xls', sheet_name=1))

         사용월  호선명   역ID      지하철역      승차승객수      하차승객수                 작업일시
0    2024-07  1호선   150       서울역  1,657,883  1,564,476  2024-08-03 09:51:41
1    2024-07  1호선   151        시청    742,284    746,353  2024-08-03 09:51:41
2    2024-07  1호선   152        종각  1,145,348  1,130,282  2024-08-03 09:51:41
3    2024-07  1호선   153      종로3가    755,197    697,902  2024-08-03 09:51:41
4    2024-07  1호선   154      종로5가    699,688    684,549  2024-08-03 09:51:41
..       ...  ...   ...       ...        ...        ...                  ...
616  2024-07  신림선  4407        당곡    149,145    145,635  2024-08-03 09:51:41
617  2024-07  신림선  4408        신림     60,184     78,904  2024-08-03 09:51:41
618  2024-07  신림선  4409        서원    107,834     95,900  2024-08-03 09:51:41
619  2024-07  신림선  4410   서울대벤처타운    289,061    266,632  2024-08-03 09:51:41
620  2024-07  신림선  4411  관악산(서울대)     97,130     96,765  2024-08-03 09:51:41

[621 rows x 7 columns]

csv 파일 pandas 라이브러리로 read, save 해보자

In [ ]:
print(pd.read_csv('D:\lecture\Python\data\seoulTemp_utf8.csv')) # csv 파일을 읽어 dataFrame 객체로 만들기

dfFruit.to_csv('D:\lecture\Python\data\dfFruit.csv', index=False) # csv로 생성 , 인덱스 생성하지 않고

pandas의 DataFrame을 사용하여 데이터를 파알할 때 주로 사용하는 명령어

head() : DataFrame의 처음 5개 row를 보여준다
tail() : DataFrame의 마지막 row를 보여준다.
shape : 행 , 열의 개수를 출력한다.
info() : DataFrame의 변수, 속성 정보를 출력한다.
describe() : 통계량을 요약하여 출력한다.

In [43]:
exam = pd.read_csv('D:\lecture\Python\data\exam.csv')
print(exam.head())
print(exam.tail())
print(exam.shape) # (20, 5) 20 행 5열을 의미한다.
print(exam.info())
print(exam.describe())

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65
    id  nclass  math  english  science
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58
(20, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       20 non-null     int64
 1   nclass   20 non-null     int64
 2   math     20 non-null     int64
 3   english  20 non-null     int64
 4   science  20 non-null     int64
dtypes: int64(5)
memory usage: 932.0 bytes
None
             id     nclass       math    english    science
count  20.00000  20.000000  20.000000  20.000000  20.000000
mean   10.50000   3.000000  57.450000  84.900000  59.450000
std     5.91608   1.450953  20.299015  12.875517  25.292968
min     1.00000   1.000000  20.000000  56.000000  12.000000
25%     5.75000   2.000000  45.750000  78.000000  45.000000
50%    10.50000   3.000000  54.000000  86.500000  62.500000
75%    15.25000   4.000000  75.750000  98.000000  78.000000
max    20.00000   5.000000  90.000000  98.000000  98.000000

<>:1: SyntaxWarning: invalid escape sequence '\l'
<>:1: SyntaxWarning: invalid escape sequence '\l'
C:\Users\802-01\AppData\Local\Temp\ipykernel_6800\3055194602.py:1: SyntaxWarning: invalid escape sequence '\l'
  exam = pd.read_csv('D:\lecture\Python\data\exam.csv')

In [44]:
# count : 데이터 빈도수, mean : 평균, std : 표준편차, max : 최대값
exam.describe()

             id     nclass       math    english    science
count  20.00000  20.000000  20.000000  20.000000  20.000000
mean   10.50000   3.000000  57.450000  84.900000  59.450000
std     5.91608   1.450953  20.299015  12.875517  25.292968
min     1.00000   1.000000  20.000000  56.000000  12.000000
25%     5.75000   2.000000  45.750000  78.000000  45.000000
50%    10.50000   3.000000  54.000000  86.500000  62.500000
75%    15.25000   4.000000  75.750000  98.000000  78.000000
max    20.00000   5.000000  90.000000  98.000000  98.000000

In [ ]:
exam.head(10) # head(n) , tail(n)

문) mpg.csv 파일을 읽고
1)몇 행 열로 되어 있나요
2) 각 컬럼의 데이터 타입을 알아보려면
3) mpg 데이터의 통계 요약을 출력하세요.

In [ ]:
mpg = pd.read_csv('D:\lecture\Python\data\mpg.csv')

print(mpg.shape) 
print(mpg.info())

In [51]:
mpg.describe() # 통계량을 산출할 수 있는 컬럼에 대해서만 값이 나온다.

#모든 컬럼에 대한 통계 요약 정보를 보고 싶을 때는 include='all' 속성을 추가한다.
mpg.describe(include='all') # NaN (Not A Number:  숫자가 아니다.)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
count,234,234,234.000000,234.000000,234.000000,234,234,234.000000,234.000000,234,234
unique,15,38,NaN,NaN,NaN,10,3,NaN,NaN,5,7
top,dodge,caravan 2wd,NaN,NaN,NaN,auto(l4),f,NaN,NaN,r,suv
freq,37,11,NaN,NaN,NaN,83,106,NaN,NaN,168,62
mean,NaN,NaN,3.471795,2003.500000,5.888889,NaN,NaN,16.858974,23.440171,NaN,NaN
std,NaN,NaN,1.291959,4.509646,1.611534,NaN,NaN,4.255946,5.954643,NaN,NaN
min,NaN,NaN,1.600000,1999.000000,4.000000,NaN,NaN,9.000000,12.000000,NaN,NaN
25%,NaN,NaN,2.400000,1999.000000,4.000000,NaN,NaN,14.000000,18.000000,NaN,NaN
50%,NaN,NaN,3.300000,2003.500000,6.000000,NaN,NaN,17.000000,24.000000,NaN,NaN
75%,NaN,NaN,4.600000,2008.000000,8.000000,NaN,NaN,19.000000,27.000000,NaN,NaN
max,NaN,NaN,7.000000,2008.000000,8.000000,NaN,NaN,35.000000,44.000000,NaN,NaN